
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    margin-top: 10px;/*bordure impression*/
    padding: 0;
    background-color: transparent;
    width: auto;
    font-size: 16px;
}
/*
a{
    text-decoration: none !important;
    color: inherit;
}
a:hover{
    text-decoration: underline !important;
    color: blue !important;
}
*/

#local{
    border: 1px solid magenta;
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}
/*
#local div{
    width: 33%;

}
*/