
html{
    margin: 0;
    background-color: transparent;
    padding: 0;
}
body{
    margin: 0;
    /*margin-top: 10px;/*bordure impression*/
    padding: 0;
    background-color: transparent;
    width: auto;
    font-size: 16px;
}

a{
    text-decoration: none !important;
    color: blue !important;
}
a:hover{
    text-decoration: underline !important;
    color: blue !important;
}

.pageBreak{
    break-before:page;
}

.insecable{
    white-space: nowrap;
}

.justifier{
    text-align: justify;
}


.pageA4{
    break-before:avoid-page;
    position: relative;
    min-height: 260mm;     /* max-height: 270mm;*/
    /*min-width: 200mm;*/
    width: 100%;
    margin: 0;
    padding:0;
}

.CvPage{
    background-color: white;    
    /*font-size: 14px;*/
    color: black;
}


@media print{
    /*
    *{
        background-color: #FFF !important;
        color:#000 !important;
    }
*/

    .CvPage{
        min-height: 260mm;      max-height: 270mm;
}

    article{
        position: relative;
        margin:0;
        border-radius: 0;
        padding: 0;
    }
}