article{
    position: relative;
    margin:1rem;
    border-radius: 1rem;
    padding: 1rem;
}

article figure{
    display: block;
    margin: 0 auto;
    text-align: center;
}

section{
    position: relative;
    float: none;
    display: block;
    margin:0;
    padding: 0;

}




/**************/
/* ANIMATIONS */
/**************/
    @keyframes content_DG{
        from{
            left:100%;
            /*margin-right: 100%;*/
        }
        to{
            left:0%;
            /*margin-right: 0%;*/
        }
    }
    @keyframes content_GD{
        from{
            right:100%;
            /*margin-right: 100%;*/
        }
        to{
            right:0%;
            /*margin-right: 0%;*/
        }
    }





/********************/
/* COMPETENCES LIST */
/********************/
#ConpetencesListTitre{
    font-style: italic;
    font-weight: bold;
}
#ConpetencesList{
    overflow: visible;
    text-align: center;
    /*border: 1px solid blue;*/
}

#ConpetencesList a:hover{
    cursor: pointer;
}
.cptIcone{
    display: none;
    max-width: 20px;
    vertical-align: middle;
    border: 0;
}


.cptIconeTechnique,.cptRelationnel,.cptIconeStress{
    display: inline;
}


article h1{
/*    background-color: #181;
    border: 5px solid blue;*/
    text-align: center;
    font-size: bold;
    text-transform: capitalize;
}

article h2{
    /*background-color: #151;
    border: 1px solid #151;*/
    border-top-right-radius: 1rem;
    text-align: center;
    font-size: bold;
    text-transform: capitalize;
    text-decoration: underline;
}


/*************/
/* CV-HEADER */
/*************/
#cv_header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    min-height: 90px;

    margin: 0;
    padding:0;
    height: 5.5rem;
}

#coordonnees{
    width: 33%;
    min-width: 245px;
    margin-left: 10px;
    overflow:visible;
}

#coordonnees a{
    text-decoration: none;
    /*color: #000 !important;*/
}

#cv_header_center{
    width: 33%;
    text-align: center;
}
#cv_header_droite{
    width: 33%;
    visibility: none;
    text-align: right;
    margin-right: 10px;
}
#cv_header_droite img{
    position: relative;
    max-height: 7rem;
    /*max-height: max-content;*/
    /*border: 5px solid black;*/
    overflow: hidden;
}

#qr_code{
    position:relative;
    max-height:90px;
    height:100%;
}


/*****
* CV *
******/
/* article */
#article_cv{
        position: relative;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        /*width: auto;*/
        /*background-color: #c22;*/
    }


    #article_cv h1{
        padding-top: 0.3em;
        text-align: center;
        font-size: bold;
        text-transform: uppercase;
    }

    #article_cv h2{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content:space-around;

        position: relative;

        background-color: #237bb1;
        font-size: 150%;
        font-weight: bold;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
        padding-top: 3px;
        /*width: auto;*/
        text-align: center;
        /*padding-left: 5rem;*/
        border: 2px solid yellow;
    }

    #article_cv h2 span{
        /*border: 1px solid green;*/
        width: 40%;
    }
    #article_cv h2 span.icone{
        border: 1px solid transparent;
        width: 1.5rem;
    }
    #article_cv h2 span.icone:hover{
        border: 1px solid white;
        width: 1.5rem;
    }


    #article_cv h2 img{
        /*float: left;*/
        border: 0;
        max-height: 1.5rem;
        margin-top: 0.1rem;
    }

    #article_cv section ul li{
        /*width: auto;*/
        margin: 0;
        border: 1px solid transparent;
        padding: 0;

    }

    #article_cv ul{
        list-style-type: none;
        margin:0;
        padding:0;
    }


    #article_cv  ul > li:hover{
        /*width: auto;*/
        border: 1px solid gray;
    }



    /* SE */
    div#SE_content{
        /*border: 1px solid magenta;*/
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        min-height: 6rem;
        margin:0;
        padding: 0;
        /*padding-left: 1rem;*/
        /* animation */
        animation-delay: 0.5s;
        animation-duration: 2.5s;
        animation-name: content_DG;
        /*overflow-y: hidden;*/
    }

    /* #SE{ } */

    div#SE_content ul{
        list-style-type: circle;
        list-style-position: inside;
    }

    #SE_content_left{
        /*border: 1px solid gray;*/
        /*width: 49%;*/
        padding: 0;
        margin-left:  15px !important;
    }

    #SE_content_right{
        /*border: 1px solid gray;*/
        /*width: 49%;*/
        padding: 0;
        padding-left: 10px;
    }


    ul#FD_content{
        margin-left:  15px !important;
        padding: 0;
        /*overflow-y: hidden;*/
    }


    /* #Experiences{} */

    #Experiences_content{
        margin: 0;
        margin-left:  15px !important;
        margin-bottom: -10px;
        padding: 0;

    }

    #Experiences ul li span:first-child{
        display: inline-block;
        color: inherit;
        width: 5rem;
        text-align: left;
        /*margin-right: .5rem;*/
    }

    #Experiences ul#assos{
        color: inherit;
        margin-left: 9em;
        text-align: left;
    }

    #Experiences ul li span:last-child,li#assos span:last-child{
        float:right;
        color: inherit;
        font-style: italic;
        /*width: auto;*/
        margin-right: 0.5em;
        text-align: right;
    }


    #Interets{
        margin-left: 15px;
    }

    #Contacts{
        margin:0;
    }

    #inf2k{
        margin-left: -0.8rem;
        margin-right: 0.8rem;
    }




@media screen and (max-width: 500px) {
    #cv_header_droite{
       display: none;
    }
}


@media print{


    article{
        position: relative;
        margin:0;
        border-radius: 0;
        padding: 0;
    }
    
    #cv_header_center{
        display: none;
    }


    #SE_content_left{
        animation-name: none;
        margin-left:  -10rem; /* Compensation d'un bug à l'impression. */
        padding-left: 0;
    }

    #ConceptList{
        display: none;
    }
}
