
.italic{
    font-style: italic;
}

#CPP{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: normal;
    padding:0;
    height:100%;
}

#CPP ul{
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-image:url(./img/icone-verte-15x19.png);
}


#CPP_gauche{
    min-width: 55mm;
    max-width: 55mm;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #237bb1;
    min-height: auto;
    margin:0;

    display: flex;
    flex-direction: column;
    justify-content:space-around;

    padding:1em;
    padding-top: 2mm;
    text-align: right;
}



/* gauche */
#CPP_gauche .PrenomNom{
    font-size: 2em;
    font-weight: bold;

}

#CPP_gauche #intitule{
    font-style: italic;
    color: #999;
}

#CPP_gauche h1{
    margin:0;
    padding:0;
    font-size: 1.2em;
    text-transform:uppercase;
    color:black
}

#CPP_gauche h1 img{
    max-height: 1.2rem;
    vertical-align: middle;
}

#CPP_gauche .Content{
    text-align: right;
    /*color:yellow;*/
}

#CPP_gauche .Content img{
    max-height: 1em;
}

#IEL_content{
    border:1px solid transparent;
}
#IEL_content:hover {
    border: 1px solid green;
}

/* ****** */
/* DROITE */
/* ****** */
#CPP_droite{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin: 0;
    margin-left: 10px;
    background-color: white;
}


#CPP_droite{
    margin:0
    padding: 10mm;
    text-align: left;
}


#CPP_droite h1{
    margin: 1em;
    margin-bottom: 0.5em;
    background-color: #237bb1;
    border-radius: 5px;
    padding: 0.3em 1em 0.2em 1em;
    font-size: 1.2em;
}

#CPP_droite h1:first{
    margin-top: 0;
}

#CPP_droite h2{
    margin: 2mm 0 0 1em;
    color: #237bb1;
    border-radius: 5px;
    padding-left: 1em;
    font-size: 1.1em;
}


#CPP_droite .Entreprise{
    margin-left: 25px;
    font-style: italic;
    font-size: 0.8em;
    color: #333;
}


#CPP_droite .Content{

}

/*
@media print{
    #CPP_gauche{
        text-align: right;
    }

}
*/


article{
    padding: 0 0.5rem 0 1rem;
}

.note{
    border:1px dotted #11DD22;
    background-color: aquamarine;
    font-style: italic;

}


/*  Competence détaillées */
#Chrox{
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /*width: auto;*/
    background-color: #990;
}


#Chrox h1{
    padding-top: 0.3em;
    text-align: center;
    font-size: bold;
    text-transform: uppercase;
}

#Chrox h2{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

    position: relative;

    background-color: #237bb1;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    padding-top: 3px;
    /*width: auto;*/
    text-align: center;
    /*padding-left: 5rem;*/
    border: 2px solid yellow;
}

#Chrox h2 span{
    /*border: 1px solid green;*/
    width: 40%;
}
#Chrox h2 span.icone{
    border: 1px solid transparent;
    width: 1.5rem;
}
#Chrox h2 span.icone:hover{
    border: 1px solid white;
    width: 1.5rem;
}


#Chrox h2 img{
    /*float: left;*/
    border: 0;
    max-height: 1.5rem;
    margin-top: 0.1rem;
}

#Chrox section ul li{
    /*width: auto;*/
    margin: 0;
    padding: 0;
}

#Chrox ul{
    list-style-type: circle;
    list-style-position: inside;
    margin:0;
    padding:0;
}


#Chrox  ul > li:hover{
    /*width: auto;*/
}


.CompTitre{
    font-weight: bold;
    font-size:1rem;
}
.compNom{
    text-decoration: underline;
    font-size:1rem;
}


/*************/
/** PROJETS **/
/*************/
article.projets{
    background-color: #151;
}

article.projets h1{
    /*border: 5px solid blue;*/
    text-align: center;
    font-size: bold;
    text-transform: uppercase;
}

.projets_texte{
    text-align: center;
    margin:auto auto;
}


/************/
/** PROJET **/
/************/
.projet img{
    max-height: 30rem;
    /*width: 90%;*/
    display:block;
    margin:0 auto;
}

article.projet{
    background-color: #181;
}

article.projet h1{
    background-color: #181;
    border: 5px solid blue;
    text-align: center;
    font-size: bold;
    text-transform: capitalize;
}

article.projet h2{
    background-color: #151;
    border: 1px solid #151;
    border-top-right-radius: 1rem;
    text-align: center;
    font-size: bold;
    text-transform: capitalize;
    text-decoration: underline;
}
